*
!/.gitignore
!/README.*
!/bin/
!/bin/**
!/.notes/
!/.notes/**

!/batsignal
!/wgetrc

!/alacritty/
!/alacritty/**
!/discord/
!/discord/**
!/epy/
!/epy/**
!/fastanime/
!/fastanime/**
!/fastfetch/
!/fastfetch/**
!/fish/
!/fish/**
!/floorp/
!/floorp/**
!/git/
!/git/**
!/gtk-3.0/
!/gtk-3.0/**
!/hypr/
!/hypr/**
!/lazygit/
!/lazygit/**
!/lf/
!/lf/**
!/mako/
!/mako/**
!/mozilla/
!/mozilla/**
!/mpv/
!/mpv/**
!/npm/
!/npm/**
!/nfs/
!/nfs/**
!/nvim/
!/nvim/**
!/python/
!/python/**
!/ranger/
!/ranger/**
!/swaylock/
!/swaylock/**
!/systemd/
!/systemd/**
!/waybar/
!/waybar/**
!/zsh/
!/zsh/**
