*
!/.gitignore
!/README.*
!/bin/
!/bin/**
!/notes/
!/notes/**

!/batsignal
!/mimeapps.list
!/wgetrc
!/xdg-terminals.list

!/alacritty/
!/alacritty/**
!/bpython/
!/bpython/**
!/discord/
!/discord/**
!/epy/
!/epy/**
!/fastanime/
!/fastanime/**
!/fastfetch/
!/fastfetch/**
!/fish/
!/fish/**
!/floorp/
!/floorp/**
!/git/
!/git/**
!/gtk-3.0/
!/gtk-3.0/**
!/hypr/
!/hypr/**
!/lazygit/
!/lazygit/**
!/lf/
!/lf/**
!/mako/
!/mako/**
!/mozilla/
!/mozilla/**
!/mpv/
!/mpv/**
!/npm/
!/npm/**
!/nfs/
!/nfs/**
!/nvim/
!/nvim/**
!/python/
!/python/**
!/qBittorrent/
!/qBittorrent/**
!/qbt/
!/qbt/**
!/ranger/
!/ranger/**
!/swaylock/
!/swaylock/**
!/systemd/
!/systemd/**
!/waybar/
!/waybar/**
!/xdg-desktop-portal/
!/xdg-desktop-portal/**
!/xdg-desktop-portal-termfilechooser/
!/xdg-desktop-portal-termfilechooser/**
!/zsh/
!/zsh/**
