[submodule "mozilla/firefox/main/chrome"]
	path = mozilla/firefox/main/chrome
	url = git@github.com:ank426/Firefox-UI-Fix.git
	branch = master
[submodule "opencode/skill-repos/anthropics-skills"]
	path = opencode/skill-repos/anthropics-skills
	url = https://github.com/anthropics/skills
[submodule "opencode/skill-repos/vercel-skills"]
	path = opencode/skill-repos/vercel-skills
	url = https://github.com/vercel-labs/agent-skills
[submodule "opencode/skill-repos/agent-browser"]
	path = opencode/skill-repos/agent-browser
	url = https://github.com/vercel-labs/agent-browser
